[2019-08-24 14:35] MichaelDBA opened #3 "missing: trigger def?"
I see we use pg_get_functiondef for procs and funcs, but what about trigger functions?
 Don't we need to call **pg_get_triggerdef**?

[2019-08-24 14:40] MichaelDBA opened #4 "Missing: Domains?"
I think we need to add domain defs.

[2019-08-24 14:42] MichaelDBA opened #5 "Missing: collations?"
I think we need to add collations.

[2019-08-24 14:42] MichaelDBA opened #6 "Missing: Foreign Tables?"
I think the information_schema does not list foreign tables.  I may be wrong, but need to investigate...

[2019-08-27 11:12] denishpatel opened #9 "Permissions?"
- Schema level permissions
 - Object level permissions

[2019-09-01 05:44] amitu opened #10 "License?"
Please add some license.

[2019-09-01 06:15] amitu opened #11 ""min" is an aggregate function"
I am getting the following when running it on PostgreSQL 11.

[code]

[2019-09-01 06:18] amitu commented on #11
If I add:

[code]
it works. I have no clue what I am losing if I do so tho.

[2019-09-03 15:50] denishpatel commented on #10
Added license

[2019-09-03 15:50] #10 closed

[2019-09-03 16:00] denishpatel commented on #11
@MichaelDBA do you have any idea?

[2019-09-03 16:01] denishpatel commented on #11
@amitu  can you provide the database version?

[2019-09-03 16:58] denishpatel commented on #11
it looks like you have UDF named "min" and "max" ?

[2019-09-03 22:16] MichaelDBA commented on #9
Started working on this last week.
Will get it done next week when I get back from vacation.

[2019-09-03 22:17] MichaelDBA commented on #11
Wish I could help but no access to env to test.  If this issue is still open next week, I will jump on it.

[2019-09-07 12:45] MichaelDBA commented on #11
Added patch to get more diagnostic info when this function fails.

@amitu, can you respond back to Denish's questions?

[2019-09-07 13:23] MichaelDBA commented on #6
Back to original subject of this issue: Foreign Tables...  My thinking was misplaced.  Cloning a schema is not really related to what schema is referenced in another database through a foreign table definition.

[2019-09-09 20:49] MichaelDBA commented on #9
Done!  Latest master branch has the permission clones...

[2019-09-09 20:49] #9 closed

[2019-09-09 20:51] MichaelDBA commented on #11
Closing this issue due to lack or response from author of issue.

[2019-09-09 20:51] #11 closed

[2019-09-13 10:51] denishpatel commented on #9
Thanks @MichaelDBA !

[2019-09-16 15:15] MichaelDBA opened #15 "Fix FK problem"
Currently, the FKeys created for the new schema point to the old schema tables!  Note to myself, fix it!

[2019-09-16 16:29] MichaelDBA commented on #15
Fixed in master branch.

[2019-09-16 16:29] #15 closed

[2019-09-16 17:16] denishpatel commented on #6
@MichaelDBA  I like your approach to use pg_dump to export all schemas including foreign schema

it should be optional though.

[2019-09-17 13:07] EspadaV8 opened #16 "Error cloning permission - type "perm_type" does not exist"
Just found that you've been managing this after we just upgraded from 9.6 to 11, but when running the latest master version we're getting the following error

[code]

(I've removed the 4th parameter from our version of the function and just set it to `True` for now).

I think this is because there aren't any permissions getting returned, although I'm not exactly sure how to test this.

[2019-09-17 13:54] MichaelDBA commented on #16
If you install pg_permissions extension (https://github.com/cybertec-postgresql/pg_permission), that will fix it.  In the meantime, I am working on using SQL to get permissions without the usage of that extension.

[2019-09-17 14:18] EspadaV8 commented on #16
Ah, thanks. Unfortunately we're using AWS RDS so we won't be able to install that extension. For now I think we can just remove the permission parts (they weren't in the function before so I don't think we'll miss them :smile:)

[2019-09-17 14:29] MichaelDBA commented on #16
OK, I will make it a priority to get this fixed, probably today, since this is a showstopper for RDS.

[2019-09-17 17:30] MichaelDBA commented on #16
Just  create these 2 TYPE definitions and then it should work:

[code]

[2019-09-18 11:19] MichaelDBA commented on #16
I have integrated the user types into clone_schema, so no additional extension or types need to be added.

[2019-09-18 11:19] #16 closed

[2019-09-18 21:18] EspadaV8 commented on #16
Great, thank you 🙂

[2019-09-19 18:50] denishpatel commented on #16
thanks @MichaelDBA !

[2019-10-08 18:11] denishpatel opened #18 "Issue with multiple ROLEs assigning permissions"
If you provide following two permission on sampledb, the clone schema will fail

ALTER DEFAULT PRIVILEGES FOR ROLE mydb_owner IN SCHEMA sample GRANT ALL ON SEQUENCES  TO mydb_owner;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA sample GRANT ALL ON SEQUENCES  TO mydb_owner;

[2019-10-08 18:12] MichaelDBA commented on #18
ha, let me try!

[2019-10-08 18:21] denishpatel commented on #18
oops! my bad. it should be GRANT, not REVOKE

[2019-10-08 20:02] MichaelDBA commented on #18
Fixed the problem where multiple grantors are associated with the same grantee and privs.  Required rewrite of the DEFAULT PRIVILEGES section.  This is now pushed to main branch.

[2019-10-08 20:02] #18 closed

[2019-11-14 16:35] gabrimonfa opened #24 "Missing indexes on materialized views and comments"
Missing indexes on materialized views and comments

[2020-04-17 19:19] denishpatel commented on #24
@MichaelDBA Can you add indices and comments for MV ?

[2020-04-18 15:30] MichaelDBA commented on #24
looking into it...

[2020-04-18 18:16] MichaelDBA commented on #24
Fixed with latest update directly to master branch.

[2020-04-18 18:16] #24 closed

[2020-04-19 13:10] MichaelDBA commented on #6
Will not address at current time.  Limitation of foreign tables will be documented in readme.

[2020-04-19 13:10] #6 closed

[2020-04-19 13:39] MichaelDBA opened #28 "Partitioned/unlogged tables not handled properly"
Currently, partitioned tables are cloned as regular tables.  This includes parent and child tables.  Also, unlogged tables are being cloned as regular tables too.

[2020-04-19 19:56] MichaelDBA commented on #28
Fixed handling of partitioned and unlogged tables. Pushed directly to master branch.

[2020-04-19 19:56] #28 closed

[2020-04-20 19:15] MichaelDBA opened #29 "DDL only option not working properly"
Currently, when the DDL only option is selected, last parm=true), some of the output DDL is missing, like for indexes.

[2020-04-20 19:18] MichaelDBA commented on #29
When pg_clone_schema was first published here, it was lacking the DDL only functionality.  Hence the queries were based on previous objects already created in the new schema.  With DDL only, since they are not created, those queries return empty result sets.

**Mission should I choose to accept it**: rewrite dependent queries to generate info always based on source schema which is existent.

[2020-06-17 15:45] jayjay8860 opened #31 "select clone_schema('sample', 'sample_clone', true, false); NOT WORKING"
When I try to execute the subjected comment getting the below error.

SQL Error [P0001]: ERROR: Action: Tables  Diagnostics: line=SQL statement "INSERT INTO sample_clone.address SELECT * FROM sample.address;"
PL/pgSQL function clone_schema(text,text,boolean,boolean) line 346 at EXECUTE. 428C9. cannot insert into column "id"
  Where: PL/pgSQL function clone_schema(text,text,boolean,boolean) line 75

[2020-06-17 19:34] MichaelDBA commented on #31
Can you provide DDL for sample.address table?

\d sample.address

[2020-06-18 04:39] jayjay8860 commented on #31
It is available in sampledb.sql (In your package itself). However, I have tried with our development database and it looks fine except DDL generation commend. I don't see the DDL is getting generated in any of the tab/window. It's blank.

Really appreciate your development and help here.

[2020-06-18 08:49] MichaelDBA commented on #31
Ha, funny it's in our own sample database! There goes regression testing...

Problem is fixed in latest master branch.  The problem was that "generated always IDENTITY" columns would barf on the INSERT statement, unless OVERRIDING SYSTEM VALUE was specified.

Please open another issue with any other problems, like DDL generation.

[2020-06-18 08:49] #31 closed

[2020-12-13 16:21] cuvialabs opened #32 "Malware in the cloning script - DO NOT USE THIS SCRIPT"
i used this script to copy a schema on heroko.    It immediately generated thousands of randomly named function with the copied schema.   It also attempted to make OS calls on my local machine.    DO NOT USE THIS SCRIPT.

[2020-12-13 16:35] denishpatel commented on #32
@MichaelDBA  can you check ?

Thanks for reporting @cuvialabs

[2020-12-13 16:37] denishpatel commented on #32
@cuvialabs if I have to make educational guess here.. it’s most likely heroku functions which you don’t know ! I will test again to make sure there is no malware and thanks for repy

[2020-12-13 16:43] denishpatel commented on #32
@EspadaV8 @leshik @fsateler do you guys experience same issue reported?

[2020-12-13 19:58] EspadaV8 commented on #32
I haven't updated the copy of the script we use, but no, I have not see any kind of malware or dodgy behaviour. We have been using the script long before this repo was created

[2020-12-13 20:00] EspadaV8 commented on #32
@cuvialabs it is probably best if you post the output you are seeing so we can see what's actually happening

[2020-12-13 22:45] cuvialabs commented on #32
I would,  but when I ran it,  it shut down my instance and I got a 'too many connections' from heroku for about 15 minutes.   But when I finally did get access,  all the functions were gone,   so I guess it rolled back the state changes.    As I mentioned,  it repeatedly attempted to make OS calls on my local machine.   I use Navicat as a sql modler and it kept popping up a dialog that said "OS ca

[2020-12-13 22:52] EspadaV8 commented on #32
If you're running it on a remote DB and it is navicat throwing the errors it won't be the script trying to hack your computer, it'll be navicat failing at something. Can you try using pgsql instead, or something other than navicat. As far as I am aware there is no way to hack a local computer when running SQL on a remote server.

[2020-12-13 23:22] leshik commented on #32
@denishpatel I'm using this script every day, multiple times per day, for more than a year now. DBs are AWS RDS instances of different sizes. I've never seen any of the issues described.

The worst thing I witnessed is when new records were added to a table on the source after its sequences have been already copied, but the table data is not - then errors on inserts are generated and sequences nee

[2020-12-14 00:14] fsateler commented on #32
I have not seen such behavior (although I use a locally copied version).

[2020-12-14 00:52] cuvialabs commented on #32
Is there something in the script that creates functions?

Sent from my iPhone

[2020-12-14 13:37] MichaelDBA commented on #32
I have reviewed the code in clone_schema.sql and there is no malware.  It does create schema functions if they are present in the source schema.  So if your source schema functions are corrupted so would your target schema functions be corrupted.

Leaving this open for a few more days until issue feedback seems complete.

[2020-12-14 14:47] denishpatel commented on #32
thanks. I tested and it don't see any malware too.

[2020-12-14 14:49] denishpatel commented on #32
@leshik please create new issue regarding sequence problem. thanks!

[2020-12-14 15:21] MichaelDBA commented on #32
Closing this since there is no malware in this simple SQL script.  My bet is that your source was corrupted so when you copied over to the target using this tool, the corruption became evident.

[2020-12-14 15:21] #32 closed

[2020-12-15 04:41] cuvialabs commented on #32
I could see the script creating 7000+ functions with random names before Heroku killed it.  I reviewed it looking for the random() function and found nothing either.   What’s stranger is,  I cut and pasted the script from from GitHub.   So I suspect it’s a reation to something in the Heroku environment.   But that’s some pretty strange behavior,   you should not dismiss this.

From: Michael Vitale

[2020-12-15 04:56] leshik opened #33 "Sequences issue when copying a schema under load"
Not sure how this could be addressed.
When copying a schema that is under load (users inserting new records), it's possible sequences become behind the actual table data, which results in duplicate key errors on target.
I'm using a separate SQL now to fix sequences in this case but it would be nice to avoid this issue if possible.

[2020-12-15 13:13] MichaelDBA commented on #32
This script only gets its info from the PostgreSQL system tables.  The corruption lies elsewhere.

[2020-12-15 13:24] MichaelDBA commented on #33
If you have a recommendation, we would be glad to hear it.  Otherwise, I cannot think of a way to make this work nicely when the source schema is under heavy load.

[2021-03-03 19:57] gabrielpiassetta opened #34 "Type <some_type> does not exist"
I'm getting this error while running the clone_schema during the clone functions flow.

[code]

when the source function uses the type in a `declare` statement. like:

[code]

I realized that we clear the source_path before cloning the functions in:

[code]

I could solve the issue, changing the `SET search_path = '';` line to `EXECUTE 'SET search_path = ' || src_path_old;`

However, I'm thinking

[2021-03-04 00:21] MichaelDBA commented on #34
I disagree with types being defined on the public schema.  the Ideal is for all user objects to be in the same schema.  The only thing that should be in the public schema are extensions in my opinion.

Thanks Gabriel for your fix recommendation.  It was the correct move.  This is updated in master branch.

[2021-03-04 00:25] MichaelDBA commented on #33
Closing this since it has been idle for a long time.  Again, there is no solution to doing a clone_schema while the database is under a heavy load especially with regard to sequences.  But again, since clone_schema is a function and functions have one implied transaction, i.e., snapshot, I don't see how this could really be a problem in the first place.

[2021-03-04 00:25] #33 closed

[2021-03-04 15:09] gabrielpiassetta commented on #34
Hi Michael, I'm not facing another issue, related to that.

[code]

cause the sql that created this function is actually:

[code]

to help to debug it, creating the functions using the `src_path_old` as the search_path doesn't cause this error.

[2021-03-04 15:12] MichaelDBA commented on #34
Hi Gabriel, would you please create that as another issue so we can track these bugs better?

[2021-03-04 15:13] MichaelDBA commented on #34
I have reopened this issue until you create the new one.

[2021-03-04 16:29] gabrielpiassetta opened #35 "Error on PRIVS: functions"
I'm facing this error when trying to clone my schema, probably related with #34 solution

[code]

cause the sql that created this function is actually:

[code]

to help to debug it, creating the functions using the `src_path_old` as the `search_path` doesn't cause this error.

[2021-03-04 16:32] MichaelDBA commented on #34
Closing this since new issue opened for last problem noted in this issue.

[2021-03-04 16:32] #34 closed

[2021-03-04 23:30] MichaelDBA commented on #35
Yikes.  In reviewing the whole privilege logic, it needs to be totally rewritten using information_schema as the driving force.  Give me a 2-5 days to come up with a new tested solution.

[2021-03-05 00:52] MichaelDBA opened #36 "Fix permissions in general"
While working on Issue#35, I discovered that privileges were given to other users that should not have gotten them for other objects as well.  Fix permissions on all other objects like the way we did it for Issue#35.

[2021-03-05 00:53] MichaelDBA commented on #35
I got this fixed.  Also created another issue#36 to deal with fixing privileges dealing with other objects besides functions.

[2021-03-05 00:53] #35 closed

[2021-03-05 00:55] MichaelDBA commented on #35
Got this fixed (Issue#35).  Total rewrite of SQL to get permission stuff
for functions.  Created anotherissue#36 to do the same kinda rewrites
for permissions for other objects.  Should have this done as early as
tomorrow or at least by Tuesday of next week.

Regards,
Michael Vitale

Gabriel Piassetta wrote on 3/4/2021 11:29 AM:

[2021-03-05 11:59] MichaelDBA commented on #36
Done and tested with sampledb.sql

[2021-03-05 11:59] #36 closed

[2021-03-05 14:31] gabrielpiassetta opened #37 "Error on PRIVS: Functions/Procedures"
I'm facing this error when trying to use the clone_schema function:

[code]

it comes from this generated query.

[code]

which is generated by
[code]

for some reason, `pg_get_function_arguments(p.oid)` is generating an invalid sql?

[2021-03-05 14:35] MichaelDBA commented on #37
well I think it's because the prototype header for the function definition itself includes DEFAULT keywords, but the function header for dropping or doing other actions on a function/procedure will barf if DEFAULT language is used.

[2021-03-05 15:11] MichaelDBA commented on #37
ha, finally an easy one!  There is another system func that returns the args WITHOUT DEFAULTS!

This is now fixed.

[2021-03-05 15:11] #37 closed

[2021-03-05 15:52] gabrielpiassetta commented on #37
Great! now everything is working! thank you very much @MichaelDBA

[2021-03-05 17:03] MichaelDBA commented on #37
Thank you, Gabriel, for helping to get these things cleaned up.  You
always gave good info in your requests that made it easy to follow
along.  Also, as I was fixing this stuff I added more SQL to the
sampledb.sql file attached to this project for regression testing.

Gabriel Piassetta wrote on 3/5/2021 10:52 AM:

[2021-03-08 17:13] gabrielpiassetta opened #38 "Error on referencing source_schema on the trigger function"
Im facing the following issue when cloning the schema.

![IMG_20210308_141244](https://user-images.githubusercontent.com/1233356/110355804-6363fe00-8018-11eb-99ed-389326d92347.jpg)

The trigger function shouldn't be the one from the dest schema?

This is coming from this SQL

[code]

[2021-03-08 21:12] francoisaubert1 opened #39 "Types defined in source_schema should not be used in dest_schema. Cloned type should be used instead"
Hello,
When cloning a table from `source_schema` using a _type_ defined in `source_schema`, I should have my destination table being defined with the _type_ of the destination schema (which is correctly cloned by the way).
It is not the case as the CREATE TABLE LIKE statement will use the source schema _type_ instead.
Help would be much appreciated!

[2021-03-08 21:14] francoisaubert1 opened #40 "Support transition_relation_name reference when cloning triggers"
Hi,
It would be great to support transition_relation_name reference when cloning triggers.

For instance, this one could work :

`SELECT quote_ident(dest_schema) AS TRIGGER_SCHEMA,
       TRIGGER_NAME,
       event_object_table,
       action_order,
       action_condition,
       action_statement,
       action_orientation,
       action_timing,
       action_reference_new_table,
       action_re

[2021-03-08 21:34] MichaelDBA commented on #38
looking at it now...

[2021-03-08 22:11] MichaelDBA commented on #38
Fixed, had to add replace statement and set search_path = '';

[2021-03-08 22:35] MichaelDBA commented on #39
This is not an easy fix since I cannot modify the DDL before it is created.  CREATE LIKE will always use user-defined types specified in the source table, hence the source-qualified type name.  Let me think about this.  In the meantime, I am checking it back in with a WARNING message about the need for manual changes if table columns use user-defined types.

CREATE TABLE sample.address
(   id bigi

[2021-03-08 23:27] #38 closed

[2021-03-08 23:36] MichaelDBA commented on #40
Can you please provide sample code for me to look at that populates:
action_reference_new_table
action_reference_old_table

That way I can add it to the **sampledb.sql** script for regression testing.

[2021-03-09 13:38] francoisaubert1 commented on #40
Sure, those fields are available from postgres 11: https://www.postgresql.org/docs/11/infoschema-triggers.html

[2021-03-09 14:08] MichaelDBA commented on #40
Well, I rewrote the SQL to take advantage of the system trigger function and then simply replacing source schema with destination schema.  I think this fixes your case here with:
action_reference_new_table
action_reference_old_table

[2021-03-09 14:09] #40 closed

[2021-03-09 14:14] MichaelDBA commented on #40
It's fixed now.  Rewrote trigger SQL to use the function def and replace
source with dest stuff.  Think this fixes ALL trigger problems in all cases.

francoisaubert1 wrote on 3/9/2021 8:38 AM:

[2021-03-09 14:44] francoisaubert1 commented on #40
Thank you so much!

[2021-03-19 13:00] MichaelDBA opened #41 "Foreign Keys missing"

[2021-03-19 13:27] MichaelDBA commented on #41
wongly created

[2021-03-19 13:27] #41 closed

[2021-03-19 13:32] MichaelDBA commented on #39
Fixed.  I created a function, get_table_ddl() to use in place of CREATE TABLE LIKE...INCLUDING ALL construct whenever a table with at least one user-defined column type is detected.  It is now part of this project.

[2021-03-19 13:32] #39 closed

[2021-03-19 13:42] MichaelDBA opened #42 "clone with data doesnt work in some cases"
If you have user-defined columns, then the following simple construct will not work anymore:
INSERT INTO newschema.newtable SELECT * from oldschema.oldtable;

This fails using the sampledb table, address, which has a user-defined datatype, udt_myint.

This looks like it requires a complicated fix to list all the columns and do a cast on the ones that are user-defined columns.

[2021-04-02 11:30] yaakovfeldman opened #43 "Schema hard coded in view"
Thank you very much for this script.

My views all contain hard coded schema references to the schema that contains them. E.g. schema1 contains a view that references schema1.table1 and schema2 contains a view that references schema2.table1.

These references are not updated in the cloned schema. Views in the cloned schema still point to the tables in the original schema.

Is there any way to upda

[2021-04-03 08:26] MichaelDBA commented on #43
Fixed

[2021-04-03 08:26] #43 closed

[2021-04-22 02:12] lorinkoz opened #44 "Problem when table name contains schema name"
Hi there!

Thanks for maintaining this very useful repo!

I'm having a problem when cloning a schema that contains one table whose name includes the schema name, for instance `some_schema.table_with_some_schema_in_the_name`.

One of the referenced code chunks might be the culprit:

https://github.com/denishpatel/pg-clone-schema/blob/6b9b31bbe3e439e5a2c7f55c4275833c38b6e419/clone_schema.sql#L544

h

[2021-04-22 02:15] lorinkoz commented on #44
For context, this is the error I am getting:

[code]

Schema name is `sample` and there is a table called `waffle_sample`. I was trying to clone `sample` to `reference`.

[2021-04-22 02:21] lorinkoz opened #45 "Any roadmap for including automated tests?"
Hi!

Is there any roadmap or plan to include automated tests on this repo, so that the correctness of the procedure can be asserted programatically? I'll be more than happy to help with the initial scaffolding and tests if we can agree on a way to do this.

[2021-05-13 15:20] MichaelDBA commented on #45
PgAdmin4 has a nice schema diff tool.  I think that works for now.  Also, see the **schema_object_counts.sql** file above.  It does a nice object count comparison.

[2021-05-13 16:21] lorinkoz commented on #45
Thanks @MichaelDBA. I was concerned about https://github.com/denishpatel/pg-clone-schema/issues/44 and was wondering if there was an automated way to make sure this doesn't happen again after fixed.

[2021-06-30 03:58] dpmillerau opened #46 "reference to non existent field in PRIVS section"
There are references to nonexistent fields in the PRIVS section see my commit for change. One is in a commented out debug

https://github.com/dpmillerau/pg-clone-schema/commit/f32488baaaee9ac3dc839f954da227dba4f52d64#diff-f2c8f6cbb117540fc01e34353d4ab0c70d7f0a9b98efdb77bfeaa7ebaafbabdb

[2021-06-30 05:10] dpmillerau opened #47 "$user in search path causes exception"
$user in the search path causes an exception right at the end of the function!

[2021-06-30 05:11] dpmillerau commented on #47
solution - quote the string
https://github.com/dpmillerau/pg-clone-schema/commit/04c7828b30c6ac54c8e4e3c5d759a4ec7cb36a09

[2021-06-30 10:46] MichaelDBA commented on #45
#44 is still not fixed. waiting on user input

[2021-06-30 10:48] MichaelDBA commented on #45
The main regression tool for this project is using the sampledb.sql file for testing.  It creates a sample database with a sample schema that contains a bunch of different kinds of objects.  We do regression testing by cloning that schema.

[2021-06-30 10:56] MichaelDBA commented on #46
Thanks, Fixed.

[2021-06-30 10:56] #46 closed

[2021-06-30 11:04] MichaelDBA commented on #47
Thanks again for the fix suggestion.  It is now implemented.

[2021-06-30 11:06] #45 closed

[2021-07-01 17:01] lorinkoz commented on #44
In order to reproduce the problem, just create a table that contains the same name of the schema, then try to clone that schema. For instance, if the schema is called `whatever` you can create a table called `whatever` and see what happens.

[2021-07-02 17:05] MichaelDBA commented on #44
Yes I have a source table named sampletable in the sample schema. And it exports fine to sample2 schema.
sample.sampletable

[2021-07-04 11:49] MichaelDBA commented on #44
Please provide the example you said you would provide if I cannot reproduce the error.

[2021-07-04 11:51] lorinkoz commented on #44
I am unable to work on this right now. Will close and reopen when I can confirm. Thanks.

[2021-07-04 11:51] #44 closed

[2021-07-08 13:09] guignonv opened #53 "Coding style (low priority)"
While working on the clone_schema.sql script (cf. my recent pull requests! ;) ), I noticed not all the code follows the same coding style (and sometimes no style at all! :) ).
It's not a big deal but it would be nice to follow a same style for the whole file.
One can find many different coding styles for SQL on the net. I am not attached to a specific one but I just it would be nice to select one

[2021-07-09 08:48] guignonv commented on #47
This fix does not work as expected. The search path is not set back to it's original value but a full quoted string containing the original value. `quote_literal()` will return a string while `SET search_path = ` expects a list of schema identifiers.

Let's say I got this:
[code]
and it is stored into 'src_path_old', then this:
```=> EXECUTE 'SET search_path = ' || quote_literal(src_path_old);```

[2021-07-09 22:23] MichaelDBA commented on #47
I will take another look at this.

[2021-07-16 12:29] guignonv opened #57 "Cloned functions may still use source schema objects."
This issue is related to #34 and #35 fix.

For the "create functions" part, there is now:
`EXECUTE 'SET search_path = ' || quote_ident(source_schema);` to fix those issues.
However, I have a schema to clone with a function referencing a schema table without its schema prefix. The cloned function references the source schema table instead of the cloned one.
The `SELECT replace(qry, quote_ident(sour

[2021-07-16 12:37] guignonv commented on #57
Yet another idea to solve the function dependency problem: create all functions as prototypes in a first pass and then alter them with the full definition.

[2021-07-16 12:50] MichaelDBA commented on #57
This is a bit too complicated to attack at the moment.  I think instead I will document this as a limitation and assumption going forward that schema-qualified references in functions will not clone successfully.

[2021-07-16 12:50] #57 closed

[2021-07-20 09:20] guignonv commented on #57
This should be fixed by PR #58. I've implemented the approach of using prototype functions (functions with and empty body but with their final "signature") so they can be used anywhere and then updated with their full body without loosing any reference.

[2021-07-21 11:17] MichaelDBA commented on #47
Thanks again for the fix!

[2021-07-21 11:17] #47 closed

[2021-07-22 11:08] MichaelDBA opened #59 "Add Schema Rules"
Rules are also something that can be cloned as part of a schema copy.  Implement this.

[2022-02-27 21:16] johnpena opened #61 "Clone doesn't propertly quote enum types `"
When creating a table with a field that has an enum type, the enum type isn't properly quoted and the clone can fail when the enum type has a capital letter. For example, the clone_schema function tries to run:

[code]

Which results in the error:

`PL/pgSQL function clone_schema(text,text,boolean,boolean) line 329 at EXECUTE. 42804. column "status" is of type newschema.someenumfield but default e

[2022-02-28 06:30] CarelFdeWaal commented on #61
Possible related issue. Error is bit different:
[code]
The enum does exist on the origin schema:
[code]

Note I did see this warning:
[code]

[2022-02-28 14:24] MichaelDBA commented on #61
investigating...

[2022-03-01 12:07] MichaelDBA commented on #61
Fixed.
Fixed more search_path problems.

- Modified get_table_ddl() to hard code search_path to public to force explicit qualified objects.
- Using set_config() for empty search_path string instead of trying to set empty string directly and incorrectly.

[2022-03-01 12:12] MichaelDBA commented on #61
@johnpena, @CarelFdeWaal , please validate before I close this issue.

[2022-03-01 13:53] MichaelDBA opened #62 "Add comments"
Currently, comments on most objects are not captured and cloned.  Thanks to @guignonv for providing the code to do it for indexes only, which is implemented.  Please add comments for other objects as well.  And note them here as they are done and integrated into the master.

[2022-03-01 14:58] johnpena commented on #61
@MichaelDBA thanks for the quick work on this, unfortunately I'm still experiencing the same issue. Let me know if there's more detail I could add that would be helpful.

[2022-03-16 07:04] gunnarvelle opened #63 "Clone tables does not include identity secuence values"
When cloning schemas where primary keys in tables are defined as identity columns, postgres automatically creates new sequences for the keys, because of the 'INCLUDING ALL' parameter. But the sequences are not set to the same value as in the original schema, but is reset to the starting value. Any attempts to insert new data into the tables fails because the sequence starts at 1.
The script should

[2022-03-16 07:13] gunnarvelle commented on #63
I was a bit to quick. Postgres recreates the sequences automatically, so you end up getting duplicates. Will look into this closer.

[2022-03-24 10:55] MichaelDBA opened #65 "Regression Testing Problems"
Regression testing revealed some errors.

1. an error with the pg_proc table.  v10 does not have the prokind column, but uses the proisagg column instead.
2. errors with creating some aggregate functions.
3. Inheritance-based tables are copied to target as stand-alone tables losing their inheritance to a parent.

[2022-03-24 15:15] MichaelDBA commented on #61
@johnpena, can you reply to my last ask of you?

[2022-03-24 16:05] MichaelDBA commented on #65
FIXED #1
FIXED #2
Still working on #3...

[2022-03-24 16:42] johnpena commented on #61
Apologies for the slow response. I was indeed using the public schema and I expect that was the source of the issues.

[2022-03-24 18:07] MichaelDBA commented on #61
Well there were definitely things I fixed in this regard.  So Im gonna close this for now.

[2022-03-24 20:22] MichaelDBA commented on #63
Now its fixed and passes regression testing.

[2022-03-24 20:22] #63 closed

[2022-03-24 22:00] MichaelDBA commented on #59
Done!

[2022-03-24 22:00] #59 closed

[2022-03-26 17:12] #65 closed

[2022-03-29 22:51] burggraf opened #66 "Add RLS Row Level Security Policies"
Can you add RLS policies, which are located in `pg_policies`?

[2022-03-31 12:09] MichaelDBA commented on #66
Done!

[2022-03-31 12:09] #66 closed

[2022-03-31 13:52] denishpatel commented on #66
Thanks @MichaelDBA !

[2022-03-31 16:04] denishpatel commented on #53
@guignonv All your PRs are approved. Can you work on it now?

[2022-04-02 19:17] MichaelDBA commented on #62
Done!  Re-arranged how we gather comments in one place.   Removed it from 2 places:
1. table section
2. separate section just for indexes

[2022-04-02 19:17] #62 closed

[2022-04-02 19:51] MichaelDBA commented on #42
Plan on fixing this in the next few  weeks.  Ping me if I begin to procrastinate again.  I do keep up with bugs or issues submitted by others pretty darn fast.

[2022-04-02 19:51] MichaelDBA commented on #29
Plan on fixing this in the next few  weeks.  Ping me if I begin to procrastinate again.  I do keep up with bugs or issues submitted by others pretty darn fast.

[2022-04-03 00:22] MichaelDBA opened #67 "Rework get_table_ddl()"
Fix get_table_ddl() for partitioning and inheritance so we are not dependent on outside function, pg_get_tabledef().

[2022-04-03 00:42] MichaelDBA commented on #67
Done.

[2022-04-03 00:42] #67 closed

[2022-04-03 10:50] MichaelDBA commented on #29
This is finally fixed.

[2022-04-03 10:50] #29 closed

[2022-04-03 13:31] MichaelDBA commented on #42
Completed with one exception:
Tables with user-defined data types have to copied manually since "INSERT INTO ... SELECT ... FROM" syntax won't work when they are present.  This is noted in the README as a limitation for the present.

[2022-04-03 13:31] #42 closed

[2022-04-04 13:35] denishpatel commented on #62
Thanks @MichaelDBA !

[2022-04-14 15:42] guignonv commented on #53
I've started the work but it's too much for me right now. See PR #68.
If someone wants to continue, feel free!
As I said in the PR, I gave a try to pgFormatter (https://github.com/darold/pgFormatter) but it did not work as expected. I also try to find other automated tools without success.

[2022-04-14 16:41] MichaelDBA commented on #53
Beginning regression testing on the changes before approving the merge of the pulled request.

[2022-04-15 11:15] MichaelDBA commented on #53
Errors introduced. Merge rejected. Pull Request Closed.

Aliases in SQL statements are double-quoted. This breaks code references to them in lowercase.

[2022-04-15 11:18] MichaelDBA opened #69 "code cleanup"
Left some unintentional debug statements in changes to previous issues.

[2022-04-15 11:18] MichaelDBA commented on #69
Removed them and regression tested.

[2022-04-15 11:18] #69 closed

[2022-04-15 11:37] MichaelDBA commented on #53
Also note that clone schema was updated subsequent to this for issue#69. So refactor from the latest.

[2022-04-19 14:52] amachanic opened #70 "VARCHAR and array columns not working"
For varchar columns I'm getting "character varying" and for any array I just get "ARRAY". I think the solution is to always use the `udt_name` and never use the `data_type`.

[2022-04-19 15:06] amachanic opened #71 "NUMERIC(XX, 0) not working"
I have a `NUMERIC(25, 0)` column in the database. It scripts as just `numeric`, which has a non-zero scale.

[2022-05-01 17:49] MichaelDBA commented on #53
formatted SQL per pgFormatter tool

[2022-05-01 17:49] #53 closed

[2022-05-01 19:21] MichaelDBA commented on #71
I cannot duplicate the problem.

`create table sample.numerics (id integer, anumeric numeric, anumeric2 numeric(1,0), anumeric3 numeric (1,1), anumeric4 numeric(25), anumeric5 numeric(25,0));
`

[code]
Clone it:
`select clone_schema('sample', 'sample_clone', false, false);`
Query the cloned table:
`\d sample_clone.numerics`

[code]

Please provide a working example of the failure.

[2022-05-01 19:43] MichaelDBA commented on #70
First of all, "character varying" is default naming convention for varchars in PG, although "varchar" is also acceptable.
Secondly, I cannot duplicate your ARRAY problem.

[code]
[code]
[code]
[code]

Please provide a working example of your problem.  Thanks in advance.

[2022-05-02 10:43] dnogu1 opened #72 "Materialized views don't get schemas listed in their query changed"
I have this script for a Materialized view:

[code]

The query of the materialized view still refers to the original schema: **sample**, and not the cloned one: **sample_clone**.

[2022-05-02 12:45] MichaelDBA commented on #72
Thanks, Fixed now.

[2022-05-02 12:48] MichaelDBA opened #73 "Dependency Problems"
Currently, there is no dependency checking.  For example, if a view is dependent on another view, they may not be created in the correct order during the clone operation resulting in errors that abort the cloning operation at that point.

[2022-05-03 13:54] #72 closed

[2022-05-03 13:56] MichaelDBA commented on #73
Working on this now...

[2022-05-14 16:32] MichaelDBA commented on #71
@amachanic , please respond to my request 2 weeks ago for a working example of the failure.

[2022-05-14 16:32] MichaelDBA commented on #70
@amachanic, please respond to my request 2 weeks ago for a working example of the failure.

[2022-05-21 21:02] amachanic commented on #70
@MichaelDBA Huge apologies, I've been way too busy to get back to this, and in the meantime I've handled my scripting needs in another way. Based on your attempted repro it seems like I messed something up on my end, so I'm just going to close my tickets for now.

[2022-05-21 21:02] #70 closed

[2022-05-21 21:02] #71 closed

[2022-06-10 00:50] callum-p opened #74 "Cloning comments doesn't work when they contain apostrophes"
Policies 1 and 2 actions were breaking for me doing clones due to the quoting around descriptions.

I believe it should do something like this `' IS ' || quote_literal(d.description) || ';'` instead of `' IS ''' || d.description || ''';'`.

I was going to put up a PR but my IDE got rid of all the extra spaces at the end of the lines and it was a bit of a PITA fix.

[2022-06-10 12:52] MichaelDBA commented on #74
@callum-p I was not able to duplicate the problem.  Please provide a sample DDL of a policy that does not convert successfully.

[2022-06-12 13:35] MichaelDBA commented on #74
Fixed.

[2022-06-12 13:35] #74 closed

[2022-06-14 00:05] MichaelDBA opened #75 "Rows Copied Errors"
Rows are not being copied correctly for parent/child tables for both inheritance and declarative partitioned tables.

[2022-06-14 00:05] MichaelDBA commented on #75
Fixed.
Solution was to move the copy rows logic to the end after all DDLs were done.  Specifically, trying to insert rows into parents before trigger functions were created or child tables were attached make the parents act like regular tables.

[2022-06-14 00:05] #75 closed

[2022-06-15 10:20] MichaelDBA opened #76 "Policies created by not applied to cloned tables."
Currently, policies are cloned correctly, but not enabled for tables affected by those RLS policies.

[2022-06-15 11:39] MichaelDBA commented on #76
Fixed. If RLS enabled for tables in source, they are now also enabled for tables in target.

[2022-06-15 11:39] #76 closed

[2022-06-15 21:31] nocyamribeiro opened #78 "Avoid errors by quote problems"
I had three consecutive errors related to the quote problem. Here they are:

1.
[code]

2.
[code]

3.
[code]

[2022-06-16 10:29] MichaelDBA commented on #78
Thanks for the valid issue.  The problem is a bit bigger than just using the quote_ident() function in a few places.  Apparently, clone_schema does not handle "case-sensitive" object names very well.  Since I have found multiple other areas that need to be fixed as well, I will not be using your pull request since it only partially addresses the problem, but thanks for the effort!  You are on the

[2022-06-16 23:02] MichaelDBA opened #79 "Fix copying rows limitation for tables with user-defined datatypes"
Currently, clone_schema does not copy rows from tables that have user-defined column data types.  That is because you cannot cast from a schema.user-defined column type to another.  It's just a limitation of PG.  So the normal INSERT INTO ... SELECT FROM .... syntax won't work even with casting methods.

An inefficient method will be utilized to use the COPY command to export and import from file

[2022-06-17 13:03] nocyamribeiro commented on #78
@MichaelDBA I really appreciate your attention and how fast you solved our problem. I just tested the new clone_schema.sql code and everything ran well

[2022-06-17 13:37] MichaelDBA commented on #78
Thank you, @nocyamribeiro, for identifying the problem and providing the correct solution for it using the quote_ident() function.

[2022-06-17 15:08] nocyamribeiro commented on #78
Hi @MichaelDBA,  I've tested the new code in another database and the followed error shows up:

[code]

Before the last update, this error didn't happen in this database.

I'm trying to discover what broken the implementation. Do you have a suggestion?

[2022-06-17 18:38] MichaelDBA commented on #78
hmmm, me thinks it was not implementing foreign keys TIL after we did the row copies.  Let me fix this if that is the problem.  Since I do no "ordering" for inserts when copying data.  We must defer creating the FKeys until after the copy is done.

[2022-06-17 19:03] MichaelDBA commented on #78
@nocyamribeiro
Yep, that sure was the problem.  It is now fixed again.  Please try again.

[2022-06-17 19:20] nocyamribeiro commented on #78
Hi @MichaelDBA I've tested in both databases that I had this problem and script ran ok. I'll close the issue and if some problem happens I'll keep you posted. Thank you again!

[2022-06-17 19:20] #78 closed

[2022-06-18 13:28] MichaelDBA commented on #79
This is now implemented, validated on linux and windows.

[2022-06-18 13:28] #79 closed

[2022-06-29 10:15] K-Yo opened #80 "FOREACH expression must not be null"
Hello,

it seems that for some simple databases the function fails when copying rows.

Error: `Error in query (7): ERROR: Action: Copy Rows Diagnostics: line=PL/pgSQL function clone_schema(text,text,boolean,boolean,boolean) line 1642 at FOREACH over array. 22004. FOREACH expression must not be null
CONTEXT: PL/pgSQL function clone_schema(text,text,boolean,boolean,boolean) line 1706 at RAISE `

To

[2022-06-30 00:48] MichaelDBA commented on #80
Thanks for the report.  I was able to reproduce the error. Workin on it...

[2022-07-12 22:04] callum-p opened #81 "COPY function to copy rows with nullable timestamp throws error"
The below error is raised when using the COPY method on tables that have nullable timestamps:

[code]

Table definition:

[code]

It does work when I update the clone-schema function to use this:

[code]

[2022-07-13 10:57] MichaelDBA commented on #81
hmmm, I am not able to duplicate the error even after creating a table with null and not null timestamps, some rows with values for null timestamp columns and some rows without values for null timestamp columns.  It works fine for me.

What version of clone_schema are you using?  What postgres version?

[2022-07-14 07:13] callum-p commented on #81
Hi @MichaelDBA thanks for taking a look. I'm away from the computer right now but I suspect it could be due to the row type "timestamp(0) with time zone". Did you have that specific type with your test?

I was using pg13. Not sure about minor version.  I'll get more specific info and some data to work with tomorrow.

[2022-07-14 12:38] MichaelDBA commented on #81
Please make sure you are using the latest version.  When you run it, it will display the version at the top.

I still cannot duplicate your problem with the latest clone_schema on PG13.  Please try to run the below script to see if that works in your environment.

[code]

[2022-07-14 23:03] callum-p commented on #81
@MichaelDBA I believe the crucial peice of information I was missing from my original post is that the table contains a user defined data type which will cause the clone script to use COPY instead of INSERT INTO.

I was able to reproduce it with the latest version of the clone_schema function.

Steps:

[code]

[code]

[2022-07-17 22:20] callum-p commented on #81
I can confirm that it works. Thanks a lot!

[2022-07-17 22:20] #81 closed

[2022-09-12 02:04] Brent-Wood opened #82 "Fails when types are defined in public schema"
Firstly, thanks for developing this, it seems to address an issue I'm having (almost :-)

I'm trying to use clone_schema() to create a complete working copy of an existing schema is a Postgres database with the extension Postgis installed. It fails with the message below:

*select clone_schema('trawl_dev', 'trawl_dev2', 'true', 'false');
NOTICE:  clone_schema version 1.8  July 15, 2022
NOTICE:  Li

[2022-09-12 02:38] Brent-Wood commented on #82
Ummm,

Looking at the function code (which really stretches my ability with SQL) I think the issue is that the public schema is removed from the search path when the clone_schema() function is run, therefore the Postgis types don't exist when the function tries to recreate the tables that have a column of geometry datatype in the scheme being copied.

The obvious fix is to add the public schema to

[2022-09-12 14:24] MichaelDBA commented on #82
Please provide some examples in your source schema that uses PostGIS.  Also, does the same problem occur when only cloning the schema not the data?  false, false are the last 2 parms when doing that.

[2022-09-12 17:33] MichaelDBA commented on #82
I was able to reproduce the problem with PostGIS and fixed it.  Check now with the latest code, please.

[2022-09-12 20:39] Brent-Wood commented on #82
Thanks for this - I will test it tomorrow when back at work. It is people like you that make Open Source software work and a vibrant community!!! Much appreciated.

[2022-09-12 22:25] MichaelDBA commented on #82
Thanks, but let's see if what i fixed is what you need fixed!

[2022-09-14 04:27] Brent-Wood commented on #82
It was the prompt response that is appreciated, if it worked that is even better!

It didn't work for me, but got further along I think, until a new error when setting the search path, looks like a comma where there shouldn't be, as below:

clone_test=# \dn
  List of schemas
  Name  |  Owner
--------+----------
 public | postgres
 test1  | dba
(2 rows)

clone_test=# show search_path;
   search_pat

[2022-09-14 13:14] MichaelDBA commented on #82
hmmm, i cant see why the search_path is empty before "public" being appended to it.  Please grab the latest code that has some debug statements in it and run it again plz

[2022-09-14 22:05] Brent-Wood commented on #82
Thanks,

Hopefully this helps...

I create the new, clean db, install postgis, create schema/table with a script, I'll append this at the end...
then copy your sql & paste it to create the function in the database, then run :
select clone_schema('schema1','schema2','true','false');

Note there is no such schema "$user" in the database. I don't know if that matters, but we don't have personal/role

[2022-09-14 22:06] Brent-Wood commented on #82
Sigh - I had '#" for comments in my test, which has been interpreted as bold...

[2022-09-15 11:06] MichaelDBA commented on #82
let's try it again, added more debug statements to capture all search_path progressions, so get the latest code and run again plz.

[2022-09-15 21:07] Brent-Wood commented on #82
Done...

select clone_schema('schema1','schema2','true','false','true');
NOTICE:  clone_schema version 1.9  September 15, 2022
NOTICE:  Linux: PostgreSQL 12.12 (Ubuntu 12.12-1.pgdg20.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0, 64-bit
INFO:  DEBUG1a: search_path="$user", public
INFO:  DEBUG1b: src_path_old="$user", public
INFO:  DEBUG2: new search_path=schem

[2022-09-15 22:05] MichaelDBA commented on #82
ONE LAST TIME, please run again with the latest code.  Thanks for your patience.

[2022-09-15 22:11] Brent-Wood commented on #82
No problem, thank you for your efforts to resolve this!!

select clone_schema('schema1','schema2','true','false','true');

NOTICE:  clone_schema version 1.9  September 15, 2022
NOTICE:  Linux: PostgreSQL 12.12 (Ubuntu 12.12-1.pgdg20.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0, 64-bit
INFO:  DEBUG1a: search_path=public
INFO:  DEBUG1b: src_path_old=public
INFO

[2022-09-16 10:31] MichaelDBA commented on #82
OK, give it another shot with the latest code.

[2022-09-17 22:56] Brent-Wood commented on #82
Seems OK with my test at home...  will try Monday at work with a real test case... Thanks for your efforts to sort this out!!

              select clone_schema('schema1','schema2','true','false');-45),4326)NOTICE:  clone_schema version 1.9  September 16, 2022
NOTICE:  Linux: PostgreSQL 14.5 (Ubuntu 14.5-0ubuntu0.22.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.2.0-19ubuntu1) 11.2.0, 64

[2022-09-18 19:57] Brent-Wood commented on #82
Hmmm... I think it works, but our db design is broken I think... we have indexes on tables in other schemas created without specifying a schema, so they are in the public schema. Therefore the clone_schema() function tries to create a duplicate index & exits - which is what it should do!!!

I will suggest we look at our design & tidy it up!

Thanks for this, appreciated!!

[2022-09-18 22:40] MichaelDBA commented on #82
Per README under the limitations section:
"You should not clone the "public" schema. The resulting output may not be accurate even if it finishes without any errors."

[2022-09-19 00:07] Brent-Wood commented on #82
I read that, I'm not cloning the public schema, & am trying to sort out why I now get a new error:. The target schema does not exist, the index exists in the source schema as normal, but running this seems to tell me otherwise

select clone_schema('trawl_dev','trawl_dev2','true','false','true');
NOTICE:  clone_schema version 1.9  September 16, 2022
NOTICE:  Linux: PostgreSQL 14.2 (Debian 14.2-1.pg

[2022-09-19 03:12] Brent-Wood commented on #82
Do you want this filed as a new issue, as you do seem to resolved the original one?

[2022-09-19 15:01] MichaelDBA opened #83 "Index duplication error"
If a table has CONSTRAINT Defs, it may have duplicate CREATE INDEX statements added to it.

[2022-09-19 15:03] MichaelDBA commented on #83
Fixed. Do not add CREATE INDEX statements if CONSTRAINT Defs already defined for them.

[2022-09-19 15:03] #83 closed

[2022-09-20 01:11] Brent-Wood commented on #83
Made much more progress before failing, tables processed and on to materialised views, but failed as:

NOTICE:   Populated cloned table, trawl_dev2.t_station                  Rows Copied: 60640
ERROR:  Action: Copy Rows  Diagnostics: line=COPY t_stratum_defn, line 1: "334,0042,2007,2008,tan0709,POLYGON((185.77855 -43.33333\,185.77855 -43.3316\,185.77849 -43.33151\,18..."
SQL statement "COPY trawl_

[2022-09-20 01:25] Brent-Wood commented on #83
With this error:

ERROR:  Action: Copy Rows  Diagnostics: line=COPY t_stratum_defn, line 19: "545,1,\N,\N,lhr1001\,IQCH,\N,0106000020E61000000100000001030000000200000098060000B6B4CE57D5C16540B2B..."
SQL statement "COPY trawl_dev2.t_stratum_defn  FROM '/tmp/cloneschema.tmp' (DELIMITER ',', NULL '\N', FORMAT CSV);"
PL/pgSQL function clone_schema(text,text,boolean,boolean,boolean) line 1657 at EXECUT

[2022-09-20 15:25] MichaelDBA commented on #83
Please dont add to this closed issue unless its related to the duplicate index problem.  I will create an issue to track the copy problem noted above.

[2022-09-20 15:28] MichaelDBA opened #84 "COPY Error for PostGIS column table"
@Brent-Wood :
With this error:

ERROR: Action: Copy Rows Diagnostics: line=COPY t_stratum_defn, line 19: "545,1,\N,\N,lhr1001,IQCH,\N,0106000020E61000000100000001030000000200000098060000B6B4CE57D5C16540B2B..."
SQL statement "COPY trawl_dev2.t_stratum_defn FROM '/tmp/cloneschema.tmp' (DELIMITER ',', NULL '\N', FORMAT CSV);"
PL/pgSQL function clone_schema(text,text,boolean,boolean,boolean) line 1657

[2022-09-20 15:37] MichaelDBA commented on #84
First of all, the temp file is generated on the DB server, not locally on your client machine. It should still be there since the same file is used over and over again.  Can you get access to that?

[2022-09-21 00:28] Brent-Wood commented on #84
That makes sense. An obvious oversight on my part, my apologies. Our IT team do not allow our DBA's to have system logins on the database server, so I cannot access the file myself, but I can ask for them to provide me with a copy.

Thanks...

[2022-09-21 11:17] MichaelDBA commented on #84
or perhaps create a small sample table that can demonstrate this problem and post here.

[2022-09-21 11:38] MichaelDBA commented on #82
I'm closing this since it fixed your problem.

[2022-09-21 11:38] #82 closed

[2022-09-27 14:29] furlongce opened #85 "operator does not exist: text[] || name"
I'm trying to run this utility and I'm consistently running into the following error if I try to create a schema that doesn't already exist:

`[2022-09-27 10:12:34] [P0001] ERROR: Action: Tables  Diagnostics: line=PL/pgSQL function public.get_table_ddl(character varying,character varying,boolean) line 196 at assignment
[2022-09-27 10:12:34] SQL statement "SELECT *              FROM public.get_tabl

[2022-09-27 15:27] furlongce commented on #85
I've been trying to troubleshooting, and it seems to be related to having a primary key defined.

If I create a new table, it works:

`create table deid.testing
(
    column_1 integer not null
);`

but this fails

[code]

[2022-09-27 16:13] furlongce opened #86 "Generated Columns Aren't Supported"
The utility is trying to insert a value into a generated column which gets rejected, and it blows up the entire script

[2022-09-27 16:21] MichaelDBA commented on #85
I am able to confirm this happens on PG 13.  Working on it...

[2022-09-27 17:00] MichaelDBA commented on #85
Try the latest code, v13 system table type defs are different in some cases than v14.

[2022-09-29 15:27] MichaelDBA opened #87 "collation comments errors for PG v10"
Error when trying to create collation comments for PG v10.

[2022-09-29 15:27] MichaelDBA commented on #87
Fixed. double quote collation name to handle v10 problems.

[2022-09-29 15:27] #87 closed

[2022-09-29 15:33] MichaelDBA commented on #86
Fixed. Use the copy to/from method for tables with generated columns.

[2022-10-01 09:39] MichaelDBA commented on #86
Since I haven't heard back from you, I am closing this as FIXED based on my tests.

[2022-10-01 09:39] #86 closed

[2022-10-01 09:39] MichaelDBA commented on #85
Since I haven't heard back from you, I am closing this as FIXED based on my tests.

[2022-10-01 09:39] #85 closed

[2022-10-01 09:40] MichaelDBA commented on #84
I am not able to duplicate the problem.  Please post a snippet that illustrates your problem.